body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .register-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
  }
  
  .register-form input[type="text"],
  .register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
  }
  .register-form input[type="passwordd"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
  }
  
  .register-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .register-form button[type="submit"]:hover {
    background-color: #45a049;
  }
  .radio-group {
    display: flex;
  }
  
  .radio-group label {
    margin-right: 10px;
  }