<div class="login-container">
    <h2>Change password</h2>
    <form class="login-form" action="/login" method="POST">
      <label for="username">Current Password:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
  
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
  
  
      <button type="submit" (click)="changePassword()">ChangePassword</button>
    </form>
   
  </div>