<div class="side-menu" [@menuLoading]="true">
    <div class="center-menu">
        <div class="item" style="margin-top: 7px" (click)="toggleBurger()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </div>
        <a [routerLink]="['/engineer']" [hidden]="isHiddenLogout()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
                <div class="tooltip">Home</div>
            </div>
        </a>
        <a [routerLink]="['/engineer/projects']" [hidden]="isHiddenLogout()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Projects icon" fontIcon="work"></mat-icon>
                <div class="tooltip">Projects</div>
            </div>
        </a>
        <a [routerLink]="['/engineer/info']" [hidden]="isHiddenLogout()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Profile icon" fontIcon="person"></mat-icon>
                <div class="tooltip">Profile</div>
            </div>
        </a>


    </div>
    <div class="bottom-menu">
        <a [routerLink]="['/manager']" [hidden]="isHiddenManager()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Register icon" fontIcon="Manager"></mat-icon>
                <div class="tooltip">Manager</div>
            </div>
        </a>
        <a [routerLink]="['/hr']" [hidden]="isHiddenHr()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Login icon" fontIcon="Hr"></mat-icon>
                <div class="tooltip">Hr</div>
            </div>
        </a>
        <a [routerLink]="['/admin']" [hidden]="isHiddenAdmin()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Login icon" fontIcon="Admin"></mat-icon>
                <div class="tooltip">Admin</div>
            </div>
        </a>
        <a [routerLink]="['/register']" [hidden]="isHidden()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Register icon" fontIcon="login"></mat-icon>
                <div class="tooltip">Register</div>
            </div>
        </a>
        <a [routerLink]="['/login']" [hidden]="isHidden()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Login icon" fontIcon="login"></mat-icon>
                <div class="tooltip">Login</div>
            </div>
        </a>
        <a [routerLink]="['/login']" (click)="logOut()" [hidden]="isHiddenLogout()">
            <div class="item">
                <mat-icon aria-hidden="false" aria-label="Login icon" fontIcon="logout"></mat-icon>
                <div class="tooltip">Logout</div>
            </div>
        </a>


    </div>

</div>