<div class="container">
  <h3>Make a new root sertificate</h3>
  <form class="example-form" [formGroup]="makeSertificateForm" >
    <mat-form-field class="example-full-width">
      <mat-label>Common name</mat-label>
      <input matInput  placeholder="Ana Ivanovic" formControlName="cn">
      <mat-error *ngIf="makeSertificateForm.get('cn')?.hasError('required')">
        Common name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Organization name</mat-label>
      <input matInput  placeholder="UNS FTN" formControlName="organization">
      <mat-error *ngIf="makeSertificateForm.get('organization')?.hasError('required')">
        Organization name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Organization unit</mat-label>
      <input matInput  placeholder="Katedra za informatiku" formControlName="organizationUnit">
      <mat-error *ngIf="makeSertificateForm.get('organizationUnit')?.hasError('required')">
        Organization unit is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Country</mat-label>
      <input matInput  placeholder="Serbia" formControlName="country">
      <mat-error *ngIf="makeSertificateForm.get('country')?.hasError('required')">
        Country is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput  placeholder="Ex. pat@example.com" formControlName="email">
      <mat-error *ngIf="makeSertificateForm.get('email')?.hasError('email') && !makeSertificateForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="makeSertificateForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label >Years of validity</mat-label>
      <input type="number" matInput placeholder="Ex. 5" formControlName="yearsOfValidity" >
      <mat-error *ngIf="makeSertificateForm.get('uid')?.hasError('required')">
        User ID is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="!makeSertificateForm.valid" color="primary" type="submit" (click)="makeCertificate()" >Create</button>

    
  </form>
</div>
