<table class="user-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>View employees</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of projectList">
      <td>{{ p.title }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.startTime }}</td>
      <td>{{ p.endTime }}</td>
      <td><button class="deny-btn" (click)="viewEmployeesForProject(p)"><mat-icon>view_list</mat-icon></button></td>
    </tr>
  </tbody>
</table>

<button class="deny-btn" (click)="addNewProject()"><mat-icon>create</mat-icon></button>